<div id="path">
    {{#each path}}
        {{#if path }}
            <a href="{{path}}">{{name}}</a>
        {{else}}
            <p>{{name}}</p>
        {{/if}}
    {{/each}}
</div>
<div class="container">
    <div class="buttons">
        <div class="flex">
            <button id="new_folder">new folder</button>
            <button id="new_file">new file</button>
        </div>

        {{#if showBtn}}
        <div class="flex">
            <button id="rename_folder">rename folder</button>
        </div>  
        {{/if}}

        <div class="flex column">
            <form action="uploadFiles" method="post" enctype="multipart/form-data" class="flex column">
                <input type="hidden" name="query_path" value="{{root}}" />
                <label for="files" class="btn select_files">select files to upload</label>
                <input name="files" id="files" type="file" multiple required style="display:none;">
                <button id="uploadSubmit" type="submit" disabled>upload</button>
            </form>
        </div>
    </div>

    <table class="files">
            {{#each folders}}
                <tr>
                    <td>
                        <img src="./gfx/folders.png" alt="{{ext}}">
                    </td>

                    <td>
                        <form action="/" method="get">
                            {{!-- <p>{{../root}}</p> --}}
                            <input type="hidden" value="{{../root}}/{{folder}}" name="path">
                            <input type="hidden" name="query_path" value="{{../root}}" />
                            <input type="submit" value="{{folder}}">
                        </form>
                    </td>
                <td>
                        <form method="post" action="/deleteFolder" onsubmit="return confirmDelete()">
                            <input type="hidden" name="folder_name" value="{{folder}}">
                            <input type="hidden" name="query_path" value="{{../root}}" />
                            <button type="submit">delete</button>
                        </form>
                </td>

                <td>
                        <form method="post" action="/downloadFolder">
                            <input type="hidden" name="folder_name" value="{{folder}}">
                            <input type="hidden" name="query_path" value="{{../root}}" />
                            <button type="submit">download</button>
                        </form>
                    </td>
                </tr>
            {{/each}}
    
            {{#each files}}
                <tr>
                    <td>
                        <img src="./gfx/{{ext}}.png" alt="{{ext}}">
                    </td>
                    <td>{{ file }}</td>

                    <td>
                        <form method="post" action="/deleteFile" onsubmit="return confirmDelete()">
                            <input type="hidden" name="file_name" value="{{file}}">
                            <input type="hidden" name="query_path" value="{{../root}}" />
                            <button type="submit">delete</button>
                        </form>
                    </td>

                    <td>
                        <form method="post" action="/downloadFile">
                            <input type="hidden" name="file_name" value="{{file}}">
                            <input type="hidden" name="query_path" value="{{../root}}" />
                            <button type="submit">download</button>
                        </form>
                    </td>
                </tr>
            {{/each}}
    </table>
</div>

<dialog class="new_folder">
    <p>new folder name</p>
    <form action="/addNewFolder" method="post">
        <input type="hidden" name="query_path" value="{{root}}" />
        <input type="text" name="folder_name">
        <div>
            <button type="submit">
                create
            </button>
            <button id="close_new_folder" type="reset" >
                cancel
            </button>
        </div>
    </form>
</dialog>

<dialog class="rename_folder">
    <p>new folder name</p>
    <form action="/renameFolder" method="post">
        <input type="hidden" name="old_name" value="{{root}}">
        <input type="text" name="new_name">
        <div>
            <button type="submit">
                rename
            </button>
            <button id="close_rename_folder" type="reset" >
                cancel
            </button>
        </div>
    </form>
</dialog>

<dialog class="new_file">
    <p>new file name</p>
    <form action="/addNewFile" method="post">
        <input type="hidden" name="query_path" value="{{root}}" />
        <input type="text" name="file_name">
        <select name="extension" value=".txt">
            <option value=".css">.css</option>
            <option value=".js">.js</option>
            <option value=".json">.json</option>
            <option value=".html">.html</option>
            <option value=".txt" selected>.txt</option>
        </select>
        <div>
            <button type="submit">
                create
            </button>
            <button id="close_new_file" type="reset" >
                cancel
            </button>
        </div>
    </form>
</dialog>

<script>
    const new_folder = document.getElementById('new_folder')
    const new_file = document.getElementById('new_file')
    const close_new_folder = document.getElementById('close_new_folder')
    const close_new_file = document.getElementById('close_new_file')
    const folderDialog = document.querySelector('.new_folder')
    
    const fileDialog = document.querySelector('.new_file')

    new_folder.addEventListener("click", () => {
        folderDialog.showModal();
    })
    new_file.addEventListener("click", () => {
        fileDialog.showModal();
    })

    close_new_folder.addEventListener("click", () => {
        folderDialog.close()
    })
    close_new_file.addEventListener("click", () => {
        fileDialog.close()
    })

    if(document.getElementById('rename_folder')){
        const rename_folder = document.getElementById('rename_folder')
        const close_rename_folder = document.getElementById('close_rename_folder')
        const renameFolderDialog = document.querySelector('.rename_folder')
        close_rename_folder.addEventListener("click", () => {
            renameFolderDialog.close()
        })
        rename_folder.addEventListener("click", () => {
            renameFolderDialog.showModal();
        })
    }

    function confirmDelete() {
        return confirm("Czy na pewno chcesz usunąć ten plik/folder?");
    }

    const uploadFilesInput = document.getElementById('files')
    const uploadSubmit = document.getElementById('uploadSubmit')

    uploadFilesInput.addEventListener("change", () => {
        if (uploadFilesInput.files.length > 0) {
            uploadSubmit.disabled = false;
            if (uploadFilesInput.files.length === 1){
                uploadSubmit.innerText = 'upload 1 file'
            }
            else{
                uploadSubmit.innerText = `upload ${uploadFilesInput.files.length} files`
            }
        } else {
            uploadSubmit.disabled = true;
            uploadSubmit.innerText = 'upload'
        }
    });
</script>